In [1]:
import pandas as pd
import pymysql
from symbol import classdef
import numpy as np
import copy
con = pymysql.connect(host="localhost",user="root",password="whc000829",db="views")

sql = "SELECT A.Country, A.Year, A.Pos_Valence_count, A.Neg_Valence_count, (A.Pos_Valence_count+ A.Neg_Valence_count)as nums FROM ( select Country, Year,SUM(Valence_Positive_Count)as Pos_Valence_count , SUM(Valence_Negative_Count)as Neg_Valence_count FROM views.pulsar_2 WHERE Victims <> '' GROUP BY Country, Year) as A"
data_sql=pd.read_sql(sql,con)
data_sql.to_csv("test2.csv")
df_test1 = pd.read_csv('test2.csv')
df_test1.drop([len(df_test1)-1],inplace=True)


df_test1['Num_mean'] = None
df_test1['Bmean']= None

df_test1['Num_median'] = None
df_test1['Bmedian']= None

df_test1['Num_max']= None
df_test1['Bmax']= None

df_test1['Num_min']= None
df_test1['Bmin']= None

df_test2 = df_test1.drop(df_test1.columns[[0]], axis=1)

df = pd.read_csv('1.csv')
df1 = pd.read_csv('X1mo_data_incidence.csv')

df = df.rename(columns = {'country_name': 'Country'})
df = df.dropna()

df_test2['Country'].replace('Burkina Faso','Burkina_Faso',inplace=True)
df_test2['Country'].replace('South Africa','South_Africa',inplace=True)
df_test2['Country'].replace('Cape Verde','Cape_Verde',inplace=True)
df_test2['Country'].replace('Central African Republic','Central_African_Republic',inplace=True)
df_test2['Country'].replace('Democratic Republic Of The Congo','Democratic_Republic_Of_The_Congo',inplace=True)
df_test2['Country'].replace('Republic of Congo','Republic_of_Congo',inplace=True)
df_test2['Country'].replace('Equatorial Guinea','Equatorial_Guinea',inplace=True)
#df_test2['Country'].replace('Equatorial Guinea','Equatorial_Guinea',inplace=True)
#dfmerge = dfmerge.replace('Equatorial Guinea','Equatorial_Guinea')

df['Country'].replace('Burkina Faso','Burkina_Faso',inplace=True)
df['Country'].replace('South Africa','South_Africa',inplace=True)
df['Country'].replace('Cape Verde','Cape_Verde',inplace=True)
df['Country'].replace('Central African Republic','Central_African_Republic',inplace=True)
df['Country'].replace('Democratic Republic Of The Congo','Democratic_Republic_Of_The_Congo',inplace=True)
df['Country'].replace('Republic of Congo','Republic_of_Congo',inplace=True)
df['Country'].replace('Equatorial Guinea','Equatorial_Guinea',inplace=True)

dfmer = pd.merge(df,df_test2, on=['Country'])
df1 = df1.drop(df1.columns[[0]], axis=1)

#X1_output = dfX1[['year','country_name','country_num']].copy()
#X1_output = df1.dropna()
X1_output = df1.reset_index()
X1_output = X1_output.drop(X1_output.columns[[0]], axis=1)
X1_output.rename(columns={'country_name':'Country', 'year':'Year'}, inplace = True)
X1_output = X1_output.groupby(['Country','Year','country_num']).agg('sum')
X1_output.reset_index(inplace = True)
#dfmerge1 = pd.merge(X1_output,df_output_name, how = 'cross')
dfmerge = pd.merge(X1_output,dfmer, on=['Country','Year','country_num'], how = "inner")

incidence_1 = dfmerge.loc[:,['incidence_1','Pos_Valence_count','Neg_Valence_count','nums','Num_mean','Bmean','Num_median','Bmedian','Num_max','Bmax','Num_min','Bmin']]
for i in range(len(incidence_1)):
    if (incidence_1.iloc[i].incidence_1)!=0:
        incidence_1['incidence_1'].iloc[i] = 1

/opt/homebrew/anaconda3/envs/2100/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/var/folders/4t/g7yfmmxs3y32q3vf11wlhs400000gn/T/ipykernel_12800/2834211075.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_1['incidence_1'].iloc[i] = 1

In [2]:
dfmerge

,Country,Year,country_num,month,period,incidence_civil_ns,incidence_1,incidence_civil_ns_alt1,incidence_2,incidence_civil_ns_alt2,...,Neg_Valence_count,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
0,Algeria,2001,56,78,78,0.0,12,0.0,12,0.0,...,38.0,69.0,None,None,None,None,None,None,None,None
1,Algeria,2002,56,78,222,0.0,12,0.0,12,0.0,...,23.0,50.0,None,None,None,None,None,None,None,None
2,Algeria,2003,56,78,366,0.0,12,0.0,12,0.0,...,12.0,46.0,None,None,None,None,None,None,None,None
3,Algeria,2004,56,78,510,0.0,12,0.0,12,0.0,...,27.0,56.0,None,None,None,None,None,None,None,None
4,Algeria,2005,56,78,654,0.0,12,0.0,12,0.0,...,29.0,64.0,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Tanzania,2011,194,78,1518,0.0,0,0.0,0,0.0,...,24.0,53.0,None,None,None,None,None,None,None,None
161,Tanzania,2012,194,78,1662,0.0,0,0.0,0,0.0,...,22.0,58.0,None,None,None,None,None,None,None,None
162,Tanzania,2013,194,78,1806,0.0,0,0.0,0,0.0,...,23.0,62.0,None,None,None,None,None,None,None,None
163,Tanzania,2014,194,78,1950,0.0,0,0.0,0,0.0,...,25.0,54.0,None,None,None,None,None,None,None,None
164,Tanzania,2015,194,78,2094,0.0,0,0.0,0,0.0,...,22.0,54.0,None,None,None,None,None,None,None,None

In [3]:
df_test1

,Unnamed: 0,Country,Year,Pos_Valence_count,Neg_Valence_count,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
0,0,Algeria,1999,23.0,16.0,39.0,None,None,None,None,None,None,None,None
1,1,Algeria,2000,34.0,17.0,51.0,None,None,None,None,None,None,None,None
2,2,Algeria,2001,31.0,38.0,69.0,None,None,None,None,None,None,None,None
3,3,Algeria,2002,27.0,23.0,50.0,None,None,None,None,None,None,None,None
4,4,Algeria,2003,34.0,12.0,46.0,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,317,Equatorial Guinea,2010,39.0,45.0,84.0,None,None,None,None,None,None,None,None
318,318,Equatorial Guinea,2011,33.0,33.0,66.0,None,None,None,None,None,None,None,None
319,319,Equatorial Guinea,2012,34.0,22.0,56.0,None,None,None,None,None,None,None,None
320,320,Equatorial Guinea,2013,25.0,31.0,56.0,None,None,None,None,None,None,None,None
321,321,Equatorial Guinea,2014,37.0,34.0,71.0,None,None,None,None,None,None,None,None

In [4]:
incidence_1

,incidence_1,Pos_Valence_count,Neg_Valence_count,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
0,1,31.0,38.0,69.0,None,None,None,None,None,None,None,None
1,1,27.0,23.0,50.0,None,None,None,None,None,None,None,None
2,1,34.0,12.0,46.0,None,None,None,None,None,None,None,None
3,1,29.0,27.0,56.0,None,None,None,None,None,None,None,None
4,1,35.0,29.0,64.0,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
160,0,29.0,24.0,53.0,None,None,None,None,None,None,None,None
161,0,36.0,22.0,58.0,None,None,None,None,None,None,None,None
162,0,39.0,23.0,62.0,None,None,None,None,None,None,None,None
163,0,29.0,25.0,54.0,None,None,None,None,None,None,None,None
164,0,32.0,22.0,54.0,None,None,None,None,None,None,None,None

In [5]:
Num_mean = incidence_1.nums.mean()
Num_median = incidence_1.nums.median()
Num_max = incidence_1.nums.max()
Num_min = incidence_1.nums.min()

incidence_1['Num_mean'] = Num_mean
incidence_1['Num_median'] = Num_median
incidence_1['Num_max'] = Num_max
incidence_1['Num_min'] = Num_min

In [6]:
incidence_1

,incidence_1,Pos_Valence_count,Neg_Valence_count,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
0,1,31.0,38.0,69.0,62.890909,None,60.0,None,145.0,None,12.0,None
1,1,27.0,23.0,50.0,62.890909,None,60.0,None,145.0,None,12.0,None
2,1,34.0,12.0,46.0,62.890909,None,60.0,None,145.0,None,12.0,None
3,1,29.0,27.0,56.0,62.890909,None,60.0,None,145.0,None,12.0,None
4,1,35.0,29.0,64.0,62.890909,None,60.0,None,145.0,None,12.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...
160,0,29.0,24.0,53.0,62.890909,None,60.0,None,145.0,None,12.0,None
161,0,36.0,22.0,58.0,62.890909,None,60.0,None,145.0,None,12.0,None
162,0,39.0,23.0,62.0,62.890909,None,60.0,None,145.0,None,12.0,None
163,0,29.0,25.0,54.0,62.890909,None,60.0,None,145.0,None,12.0,None
164,0,32.0,22.0,54.0,62.890909,None,60.0,None,145.0,None,12.0,None

In [7]:
print(incidence_1['nums'][0])

69.0

In [8]:
for a in range(len(incidence_1)):
    if incidence_1['nums'].iloc[a] >= Num_mean:
        incidence_1['Bmean'].iloc[a] = 1
    else:
        incidence_1['Bmean'].iloc[a] = 0
        
for a in range(len(incidence_1)):
    if incidence_1['nums'].iloc[a] >= Num_median:
        incidence_1['Bmedian'].iloc[a] = 1
    else:
        incidence_1['Bmedian'].iloc[a] = 0

for a in range(len(incidence_1)):
    if incidence_1['nums'].iloc[a] >= Num_max:
        incidence_1['Bmax'].iloc[a] = 1
    else:
        incidence_1['Bmax'].iloc[a] = 0
        
        
for a in range(len(incidence_1)):
    if incidence_1['nums'].iloc[a] >= Num_min:
        incidence_1['Bmin'].iloc[a] = 1
    else:
        incidence_1['Bmin'].iloc[a] = 0

/var/folders/4t/g7yfmmxs3y32q3vf11wlhs400000gn/T/ipykernel_12800/68321999.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_1['Bmean'].iloc[a] = 1
/var/folders/4t/g7yfmmxs3y32q3vf11wlhs400000gn/T/ipykernel_12800/68321999.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_1['Bmean'].iloc[a] = 0
/var/folders/4t/g7yfmmxs3y32q3vf11wlhs400000gn/T/ipykernel_12800/68321999.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_1['Bmedian'].iloc[a] = 1
/var/folders/4t/g7yfmmxs3y32q3vf11wlhs400000gn/T/ipykernel_12800/68321999.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_1['Bmedian'].iloc[a] = 0
/var/folders/4t/g7yfmmxs3y32q3vf11wlhs400000gn/T/ipykernel_12800/68321999.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_1['Bmax'].iloc[a] = 0
/var/folders/4t/g7yfmmxs3y32q3vf11wlhs400000gn/T/ipykernel_12800/68321999.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_1['Bmax'].iloc[a] = 1
/var/folders/4t/g7yfmmxs3y32q3vf11wlhs400000gn/T/ipykernel_12800/68321999.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_1['Bmin'].iloc[a] = 1

In [9]:
incidence_1

,incidence_1,Pos_Valence_count,Neg_Valence_count,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
0,1,31.0,38.0,69.0,62.890909,1,60.0,1,145.0,0,12.0,1
1,1,27.0,23.0,50.0,62.890909,0,60.0,0,145.0,0,12.0,1
2,1,34.0,12.0,46.0,62.890909,0,60.0,0,145.0,0,12.0,1
3,1,29.0,27.0,56.0,62.890909,0,60.0,0,145.0,0,12.0,1
4,1,35.0,29.0,64.0,62.890909,1,60.0,1,145.0,0,12.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
160,0,29.0,24.0,53.0,62.890909,0,60.0,0,145.0,0,12.0,1
161,0,36.0,22.0,58.0,62.890909,0,60.0,0,145.0,0,12.0,1
162,0,39.0,23.0,62.0,62.890909,0,60.0,1,145.0,0,12.0,1
163,0,29.0,25.0,54.0,62.890909,0,60.0,0,145.0,0,12.0,1
164,0,32.0,22.0,54.0,62.890909,0,60.0,0,145.0,0,12.0,1

In [10]:
incidence_input = incidence_1.loc[:,['Bmean','Bmedian','Bmax','Bmin']]

In [16]:
incidence_input = incidence_1.loc[:,['Bmean','Bmedian','Bmax','Bmin','Pos_Valence_count','Neg_Valence_count','incidence_1']]

In [17]:
incidence_input['incidence_1'].value_counts()

0    137
1     28
Name: incidence_1, dtype: int64

In [18]:
incidence_input

    Bmean Bmedian Bmax Bmin  Pos_Valence_count  Neg_Valence_count  incidence_1
0       1       1    0    1               31.0               38.0            1
1       0       0    0    1               27.0               23.0            1
2       0       0    0    1               34.0               12.0            1
3       0       0    0    1               29.0               27.0            1
4       1       1    0    1               35.0               29.0            1
..    ...     ...  ...  ...                ...                ...          ...
160     0       0    0    1               29.0               24.0            0
161     0       0    0    1               36.0               22.0            0
162     0       1    0    1               39.0               23.0            0
163     0       0    0    1               29.0               25.0            0
164     0       0    0    1               32.0               22.0            0

[165 rows x 7 columns]

In [19]:
incidence_input_1 = incidence_1.loc[incidence_1['incidence_1']==1]

In [20]:
incidence_input_0 = incidence_1.loc[incidence_1['incidence_1']==0]

In [21]:
incidence_input_1

,incidence_1,Pos_Valence_count,Neg_Valence_count,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
0,1,31.0,38.0,69.0,62.890909,1,60.0,1,145.0,0,12.0,1
1,1,27.0,23.0,50.0,62.890909,0,60.0,0,145.0,0,12.0,1
2,1,34.0,12.0,46.0,62.890909,0,60.0,0,145.0,0,12.0,1
3,1,29.0,27.0,56.0,62.890909,0,60.0,0,145.0,0,12.0,1
4,1,35.0,29.0,64.0,62.890909,1,60.0,1,145.0,0,12.0,1
5,1,26.0,21.0,47.0,62.890909,0,60.0,0,145.0,0,12.0,1
6,1,34.0,46.0,80.0,62.890909,1,60.0,1,145.0,0,12.0,1
7,1,37.0,46.0,83.0,62.890909,1,60.0,1,145.0,0,12.0,1
8,1,41.0,34.0,75.0,62.890909,1,60.0,1,145.0,0,12.0,1
9,1,47.0,32.0,79.0,62.890909,1,60.0,1,145.0,0,12.0,1
10,1,41.0,25.0,66.0,62.890909,1,60.0,1,145.0,0,12.0,1
11,1,26.0,23.0,49.0,62.890909,0,60.0,0,145.0,0,12.0,1
12,1,34.0,29.0,63.0,62.890909,1,60.0,1,145.0,0,12.0,1
13,1,33.0,32.0,65.0,62.890909,1,60.0,1,145.0,0,12.0,1
15,1,42.0,35.0,77.0,62.890909,1,60.0,1,145.0,0,12.0,1
16,1,25.0,21.0,46.0,62.890909,0,60.0,0,145.0,0,12.0,1
135,1,66.0,79.0,145.0,62.890909,1,60.0,1,145.0,1,12.0,1
136,1,42.0,32.0,74.0,62.890909,1,60.0,1,145.0,0,12.0,1
137,1,46.0,44.0,90.0,62.890909,1,60.0,1,145.0,0,12.0,1
138,1,47.0,55.0,102.0,62.890909,1,60.0,1,145.0,0,12.0,1
139,1,44.0,58.0,102.0,62.890909,1,60.0,1,145.0,0,12.0,1
140,1,44.0,61.0,105.0,62.890909,1,60.0,1,145.0,0,12.0,1
141,1,34.0,73.0,107.0,62.890909,1,60.0,1,145.0,0,12.0,1
142,1,48.0,76.0,124.0,62.890909,1,60.0,1,145.0,0,12.0,1
143,1,66.0,74.0,140.0,62.890909,1,60.0,1,145.0,0,12.0,1
144,1,55.0,66.0,121.0,62.890909,1,60.0,1,145.0,0,12.0,1
145,1,34.0,31.0,65.0,62.890909,1,60.0,1,145.0,0,12.0,1
146,1,35.0,39.0,74.0,62.890909,1,60.0,1,145.0,0,12.0,1

In [22]:
incidence_input_0

,incidence_1,Pos_Valence_count,Neg_Valence_count,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
14,0,43.0,31.0,74.0,62.890909,1,60.0,1,145.0,0,12.0,1
17,0,35.0,26.0,61.0,62.890909,0,60.0,1,145.0,0,12.0,1
18,0,26.0,26.0,52.0,62.890909,0,60.0,0,145.0,0,12.0,1
19,0,22.0,24.0,46.0,62.890909,0,60.0,0,145.0,0,12.0,1
20,0,23.0,16.0,39.0,62.890909,0,60.0,0,145.0,0,12.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
160,0,29.0,24.0,53.0,62.890909,0,60.0,0,145.0,0,12.0,1
161,0,36.0,22.0,58.0,62.890909,0,60.0,0,145.0,0,12.0,1
162,0,39.0,23.0,62.0,62.890909,0,60.0,1,145.0,0,12.0,1
163,0,29.0,25.0,54.0,62.890909,0,60.0,0,145.0,0,12.0,1
164,0,32.0,22.0,54.0,62.890909,0,60.0,0,145.0,0,12.0,1