In [1]:
import pandas as pd
import pymysql
from symbol import classdef
import numpy as np
import copy
con = pymysql.connect(host="localhost",user="root",password="whc000829",db="views")

sql = "SELECT Country, Year, COUNT(*) as nums FROM views.pulsar_2 WHERE Victims <> '' GROUP BY Country, Year"
data_sql=pd.read_sql(sql,con)
data_sql.to_csv("test2.csv")
df_test1 = pd.read_csv('test2.csv')
df_test1.drop([len(df_test1)-1],inplace=True)

df_test1['Num_mean'] = None
df_test1['Bmean']= None

df_test1['Num_median'] = None
df_test1['Bmedian']= None

df_test1['Num_max']= None
df_test1['Bmax']= None

df_test1['Num_min']= None
df_test1['Bmin']= None

df_test2 = df_test1.drop(df_test1.columns[[0]], axis=1)

df = pd.read_csv('1.csv')
df1 = pd.read_csv('X1mo_data_incidence.csv')

df = df.rename(columns = {'country_name': 'Country'})
df = df.dropna()

df_test2['Country'].replace('Burkina Faso','Burkina_Faso',inplace=True)
df_test2['Country'].replace('South Africa','South_Africa',inplace=True)
df_test2['Country'].replace('Cape Verde','Cape_Verde',inplace=True)
df_test2['Country'].replace('Central African Republic','Central_African_Republic',inplace=True)
df_test2['Country'].replace('Democratic Republic Of The Congo','Democratic_Republic_Of_The_Congo',inplace=True)
df_test2['Country'].replace('Republic of Congo','Republic_of_Congo',inplace=True)
df_test2['Country'].replace('Equatorial Guinea','Equatorial_Guinea',inplace=True)
#df_test2['Country'].replace('Equatorial Guinea','Equatorial_Guinea',inplace=True)
#dfmerge = dfmerge.replace('Equatorial Guinea','Equatorial_Guinea')

df['Country'].replace('Burkina Faso','Burkina_Faso',inplace=True)
df['Country'].replace('South Africa','South_Africa',inplace=True)
df['Country'].replace('Cape Verde','Cape_Verde',inplace=True)
df['Country'].replace('Central African Republic','Central_African_Republic',inplace=True)
df['Country'].replace('Democratic Republic Of The Congo','Democratic_Republic_Of_The_Congo',inplace=True)
df['Country'].replace('Republic of Congo','Republic_of_Congo',inplace=True)
df['Country'].replace('Equatorial Guinea','Equatorial_Guinea',inplace=True)

dfmer = pd.merge(df,df_test2, on=['Country'])
df1 = df1.drop(df1.columns[[0]], axis=1)

#X1_output = dfX1[['year','country_name','country_num']].copy()
#X1_output = df1.dropna()
X1_output = df1.reset_index()
X1_output = X1_output.drop(X1_output.columns[[0]], axis=1)
X1_output.rename(columns={'country_name':'Country', 'year':'Year'}, inplace = True)
X1_output = X1_output.groupby(['Country','Year','country_num']).agg('sum')
X1_output.reset_index(inplace = True)
#dfmerge1 = pd.merge(X1_output,df_output_name, how = 'cross')
dfmerge = pd.merge(X1_output,dfmer, on=['Country','Year','country_num'], how = "inner")

incidence_1 = dfmerge.loc[:,['incidence_1','nums','Num_mean','Bmean','Num_median','Bmedian','Num_max','Bmax','Num_min','Bmin']]
for i in range(len(incidence_1)):
    if (incidence_1.iloc[i].incidence_1)!=0:
        incidence_1['incidence_1'].iloc[i] = 1

/opt/homebrew/anaconda3/envs/2100/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
/var/folders/4t/g7yfmmxs3y32q3vf11wlhs400000gn/T/ipykernel_5205/2876432259.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_1['incidence_1'].iloc[i] = 1

In [2]:
incidence_1

,incidence_1,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
0,1,125,None,None,None,None,None,None,None,None
1,1,85,None,None,None,None,None,None,None,None
2,1,72,None,None,None,None,None,None,None,None
3,1,62,None,None,None,None,None,None,None,None
4,1,73,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
160,0,79,None,None,None,None,None,None,None,None
161,0,91,None,None,None,None,None,None,None,None
162,0,104,None,None,None,None,None,None,None,None
163,0,95,None,None,None,None,None,None,None,None
164,0,87,None,None,None,None,None,None,None,None

In [3]:
Num_mean = incidence_1.nums.mean()
Num_median = incidence_1.nums.median()
Num_max = incidence_1.nums.max()
Num_min = incidence_1.nums.min()

incidence_1['Num_mean'] = Num_mean
incidence_1['Num_median'] = Num_median
incidence_1['Num_max'] = Num_max
incidence_1['Num_min'] = Num_min

In [4]:
incidence_1

,incidence_1,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
0,1,125,76.490909,None,74.0,None,165,None,22,None
1,1,85,76.490909,None,74.0,None,165,None,22,None
2,1,72,76.490909,None,74.0,None,165,None,22,None
3,1,62,76.490909,None,74.0,None,165,None,22,None
4,1,73,76.490909,None,74.0,None,165,None,22,None
...,...,...,...,...,...,...,...,...,...,...
160,0,79,76.490909,None,74.0,None,165,None,22,None
161,0,91,76.490909,None,74.0,None,165,None,22,None
162,0,104,76.490909,None,74.0,None,165,None,22,None
163,0,95,76.490909,None,74.0,None,165,None,22,None
164,0,87,76.490909,None,74.0,None,165,None,22,None

In [5]:
print(incidence_1['nums'][0])

125

In [6]:
for a in range(len(incidence_1)):
    if incidence_1['nums'].iloc[a] >= Num_mean:
        incidence_1['Bmean'].iloc[a] = 1
    else:
        incidence_1['Bmean'].iloc[a] = 0
        
for a in range(len(incidence_1)):
    if incidence_1['nums'].iloc[a] >= Num_median:
        incidence_1['Bmedian'].iloc[a] = 1
    else:
        incidence_1['Bmedian'].iloc[a] = 0

for a in range(len(incidence_1)):
    if incidence_1['nums'].iloc[a] >= Num_max:
        incidence_1['Bmax'].iloc[a] = 1
    else:
        incidence_1['Bmax'].iloc[a] = 0
        
        
for a in range(len(incidence_1)):
    if incidence_1['nums'].iloc[a] >= Num_min:
        incidence_1['Bmin'].iloc[a] = 1
    else:
        incidence_1['Bmin'].iloc[a] = 0

/var/folders/4t/g7yfmmxs3y32q3vf11wlhs400000gn/T/ipykernel_5205/68321999.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_1['Bmean'].iloc[a] = 1
/var/folders/4t/g7yfmmxs3y32q3vf11wlhs400000gn/T/ipykernel_5205/68321999.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_1['Bmean'].iloc[a] = 0
/var/folders/4t/g7yfmmxs3y32q3vf11wlhs400000gn/T/ipykernel_5205/68321999.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_1['Bmedian'].iloc[a] = 1
/var/folders/4t/g7yfmmxs3y32q3vf11wlhs400000gn/T/ipykernel_5205/68321999.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_1['Bmedian'].iloc[a] = 0
/var/folders/4t/g7yfmmxs3y32q3vf11wlhs400000gn/T/ipykernel_5205/68321999.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_1['Bmax'].iloc[a] = 0
/var/folders/4t/g7yfmmxs3y32q3vf11wlhs400000gn/T/ipykernel_5205/68321999.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_1['Bmax'].iloc[a] = 1
/var/folders/4t/g7yfmmxs3y32q3vf11wlhs400000gn/T/ipykernel_5205/68321999.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incidence_1['Bmin'].iloc[a] = 1

In [7]:
incidence_1

,incidence_1,nums,Num_mean,Bmean,Num_median,Bmedian,Num_max,Bmax,Num_min,Bmin
0,1,125,76.490909,1,74.0,1,165,0,22,1
1,1,85,76.490909,1,74.0,1,165,0,22,1
2,1,72,76.490909,0,74.0,0,165,0,22,1
3,1,62,76.490909,0,74.0,0,165,0,22,1
4,1,73,76.490909,0,74.0,0,165,0,22,1
...,...,...,...,...,...,...,...,...,...,...
160,0,79,76.490909,1,74.0,1,165,0,22,1
161,0,91,76.490909,1,74.0,1,165,0,22,1
162,0,104,76.490909,1,74.0,1,165,0,22,1
163,0,95,76.490909,1,74.0,1,165,0,22,1
164,0,87,76.490909,1,74.0,1,165,0,22,1

In [8]:
incidence_input = incidence_1.loc[:,['Bmean','Bmedian','Bmax','Bmin']]

In [9]:
incidence_input = incidence_1.loc[:,['Bmean','Bmedian','Bmax','Bmin','incidence_1']]

In [10]:
incidence_input['incidence_1'].value_counts()

0    137
1     28
Name: incidence_1, dtype: int64

In [11]:
incidence_input

    Bmean Bmedian Bmax Bmin  incidence_1
0       1       1    0    1            1
1       1       1    0    1            1
2       0       0    0    1            1
3       0       0    0    1            1
4       0       0    0    1            1
..    ...     ...  ...  ...          ...
160     1       1    0    1            0
161     1       1    0    1            0
162     1       1    0    1            0
163     1       1    0    1            0
164     1       1    0    1            0

[165 rows x 5 columns]

In [12]:
incidence_input_1 = incidence_1.loc[incidence_1['incidence_1']==1]

In [13]:
incidence_input_0 = incidence_1.loc[incidence_1['incidence_1']==0]